@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}

body {
    background-color: rgb(17, 17, 17);;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

main {
    background-color:rgb(17, 17, 17);
    margin-left: 15%;
    margin-right: 15%;
}

section {
    border: white none;
}

h3 {
    font-family: Hill House;
}

p {
    font-family: 'Catamaran', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 13px;
}

img {
    width: 25%; 
}

div {
    border: solid gray none;
    margin: 5px;
    display: flex;
    align-items: center;
}

footer {
    background-color: rgb(0, 0, 0);
}