@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}



header {
    background-color: gray;
   
}

body {
    background-color: black;
    color: white;
    font-family: Hill House;

}

img {
    width: 20%;
}

div {
    border: solid gray none;
    margin: 5px;
    display: flex;
    align-items: center;
}


main {
    background-color: black;
}

section {
    border: white none;
}



footer {
    background-color: rgb(0, 0, 0);

}