@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}

h2 {
    font-family: hill house;
    font-size: 1.3em;
    margin: 40px;
}

p {
    font-family: 'Catamaran', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
}

a:link {
    color: #e4a77b;
}
a:hover {
    color: #e2d5cc;;
}

a:visited {
    color: bisque;
}

body {
    background-color: rgb(17, 17, 17);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;    
}

img {
    width: 25%; 
}

main {
    background-color: rgb(17, 17, 17);
    margin-left: 10%;
    margin-right: 10%;
}

section {
    border: white none;
    margin-bottom: 40px;
}