@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}

body {
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    align-content: center;
    justify-content: center;    
}

img {
    width: 25%; 
}

div {
    border: solid gray none;
    margin: 5px;
    display: flex;
    justify-content: center;
}

main {
    background-color: rgb(17, 17, 17);
    background-image: url();
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: center;   
}

section {
    border: white none;
}

footer {
    background-color: rgb(0, 0, 0);
}

/* button:hover {
    background:#e4a77b;
    color: #ffffff;
    box-shadow: 0 0 15px #ffffff;
} */

/* button {
    background: #000000;
    transition: all .5s ease-in-out;
    color: white;
    font-family: hill house;
    padding-top: 12%;
    border-style: hidden ;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
    float: left;
} */

label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

label:hover {
    transform: scale(1.2);
}

input {
    opacity: 0;
}

input[type=radio]:checked + div > p {
    background-color: #e4a77b;
    /* feel free to change this color */
}

#beginButton {
    background-color: rgb(17, 17, 17);
}
#beginButton:hover {
    background:#e4a77b;
    color: #ffffff;
    box-shadow: 0 0 15px #ffffff;
}


.labels {
    display: flex;
}

.one-card {
    background-image: src('../assets/welcome-cards/1-card-back.png');
}

.three-card {
    background-image: src('../assets/welcome-cards/3-card-back.png');
}

p {
align-content: center;
justify-content: center;
text-align: center;
color: gray;
}

.little-card {
    border: 1px solid white;
    height: 32px;
    width: 20px;
    border-radius: 4px;
    margin: 2px;
}
