
header {
    font-family: Hill House;
    color: black;
    background-color: rgb(209, 205, 205);
    text-align: center;
    font-size: 350%;
    font-weight: 600;
    padding-top: 2%;
    text-decoration: underline;
    
}


body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
    
}

img {
    width: 25%; 
}

div {
    border: solid gray none;
    margin: 5px;
    display: flex;
    align-items: center;
}


main {
    background-color: black;
}


section {
    border: white none;
}


footer {
    background-color: rgb(0, 0, 0);
}


button:hover {
    background:#e4a77b;
    color: #ffffff;
}

button {
    background: #000000;
    transition: all .5s ease-in-out;
    color: white;
    width: max-content;
    float: right;
    font-family: hill house;
}

label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

label:hover {
    transform: scale(1.2);
}

input {
    opacity: 0;
}

input[type=radio]:checked + div > p {
    background-color: yellow;
    /* feel free to change this color */
}

.labels {
    display: flex;
}

.little-card {
    border: 1px solid white;
    height: 32px;
    width: 20px;
    border-radius: 4px;
    margin: 2px;
}