@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}

body {
    background-color:rgb(17, 17, 17);
    color: white;  
}

main {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 15px;
    background-color: rgb(17, 17, 17);
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.card {
    opacity: 1;
    animation: opacity-fade 3s linear;
    margin-bottom: 40px;
}

@keyframes opacity-fade {
    0% {
        opacity: 5%;
    }
    10% {
        opacity: 10%;
    }
    30% {
        opacity: 25%;
    }
    60% {
        opacity: 70%;
    }
    90% {
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}

.description, .greet-user {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: darkgrey;
}

#card-desc {
    font-family: Hill House;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#refreshButton {
    background-color: rgb(17, 17, 17);
    visibility: hidden;
}

#refreshButton:hover {
    background:#e4a77be5;
    color: #ffffff;
    box-shadow: 0 0 15px #ffffff;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
