@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}

body {
    background-color:rgb(17, 17, 17);
    color: white;  
}

main {
    color: white;
    margin-top: 7%;
    background-color: rgb(17, 17, 17);
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.card {
    margin-bottom: 40px;
}
