@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}

header {
    font-family: Hill House;
    color: rgb(255, 255, 255);
    background-color:black;
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    padding-top: 2%;
    text-decoration: underline;   
}

.homeButtonDiv {
    border: solid gray none;
    margin: 5px;
    display: flex;
    align-items: center;
}

body {
    background-color: rgb(17, 17, 17);
    color: white;   
}

main {
    background-color: rgb(17, 17, 17);
    margin-top: 2%;
}

section {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button:hover {
    background:#e4a77b;
    color: #ffffff;
}

button {
    background: #000000;
    transition: all .5s ease-in-out;
    color: white;
    font-family: Hill House;
    border-style: hidden ;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
    float: left;
    margin: 5px;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timestamp {
    color: red;
    display: flex;
    margin-bottom: 20px;
}

.hide {
    visibility: hidden;
}

.reveal:hover + .hide {
    visibility: visible;
}

