@font-face {
    font-family: Hill House;
        src:url('../assets/font/Hill_House\ 2.otf')
}

header {
    font-family: Hill House;
    color: black;
    background-color: rgb(209, 205, 205);
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2.75%;
    text-decoration: underline;   
}

body {
    background-color: black;
    color: white;   
}

main {
    background-color: black;
    margin-top: 2%;
}

section {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button:hover {
    background:#e4a77b;
    color: #ffffff;
}

button {
    background: #000000;
    transition: all .5s ease-in-out;
    color: white;
    font-family: hill house;
    padding-top: 12%;
    border-style: hidden ;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
    float: left;
    margin: 3px;
}


.card {
    position: relative;
    text-align: center;
    color: white;
    margin: 5px;
}

.card > img {
    border-radius: 30px;
    height: 420px;
    width: 240px;
}

.card > p {
    position: absolute;
    font-family: Hill House;
    background-color: #040707;
    width: 140px;
    height: 30px;
    bottom: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.card > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}




















.time {
    color: yellow;
}


/*
img:hover {
    border: 5px solid rosybrown;
}

p {
    border: 5px solid rosybrown;
}

.hide {
    background-color: yellow;
    visibility: hidden;
}

.cool:hover {
    border: lightblue solid;
    visibility: visible;
}
*/
