.card {
    position: relative;
    text-align: center;
    color: white;
    margin: 5px;
    margin-bottom: 40px;
}

.card > img {
    border-radius: 12px;
    height: 420px;
    width: 240px;
}


.card > p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Hill House;
    background-color: #040707;
    width: 140px;
    height: 35px;
    bottom: 5%;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.card > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 240px;
}

.card-img {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.card-img.top:hover {
    border: 1px peachpuff solid;
}

.card-back {
    margin-left: 20px;
}

.card-img {
    border-radius: 12px;
    height: 420px;
    width: 240px;
}

.card-img, .card > img {
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
    background-color: black;
}